*.DS_Store
*.pyc
*.npy
*datasets/
*models/cnn/
*model/
*outputs/
services/output
# vscode config.
.vscode/

# essentia source code for compiling
essentia/

# test input folder
# test_input/

venv
.venv

env/
.env/
.ENV/

inputs/*
!inputs/.gitkeep