[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
networkx = "*"
librosa = "*"
future = "*"
Cython = "*"
mir_eval = "*"
Theano = "==0.8.2"
Lasagne = "*"
ipython = "*"
numpy = "*"
matplotlib = "*"
pyyaml = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6.5"
