[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
networkx = "*"
future = "*"
Cython = "*"
mir_eval = "*"
Theano = {file = "https://github.com/Theano/Theano/archive/master.zip"}
Lasagne = {file = "https://github.com/Lasagne/Lasagne/archive/master.zip"}
ipython = "==7.15.0"
numpy = "*"
matplotlib = "*"
pyyaml = "*"
librosa = "*"
flask = "*"
flask-socketio = "*"
pytube3 = "*"
gunicorn = "==20.0.4"
flask-restful = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[requires]
