[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
networkx = "*"
future = "*"
Cython = "*"
mir_eval = "*"
ipython = "==7.15.0"
numpy = "*"
matplotlib = "*"
PyYAML = "*"
librosa = "*"
Flask = "*"
pytube3 = "*"
gunicorn = "~=20.0.4"
Flask-RESTful = "*"
scipy = ">=0.16"
mido = ">=1.2.8"
pyFFTW = "*"
madmom = "*"
musicxml-synthesizer = "==0.9.14"

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"

[requires]

[scripts]
cli = "python3 solola/transcribe/fully_transcribe.py"

[packages.Theano]
file = "https://github.com/Theano/Theano/archive/master.zip"

[packages.Lasagne]
file = "https://github.com/Lasagne/Lasagne/archive/master.zip"
